@use "./_colors" as colors;

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: colors.$white;

  .container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }
}

.video_container {
  width: 70vw;
  aspect-ratio: 16 / 7;
  position: relative;
  overflow: hidden;
  //border: 2px solid red;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: colors.$white;
  }

  .video {
    width: 95vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.logo_container {
  width: 60px;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: colors.$white;
  }

  img {
    width: 100%;
  }
}

.card_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  //border: 2px solid red;
  .card {
    width: 450px;
    aspect-ratio: 1.75;
    padding: 0.2rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Copperplate Gothic Std 32 BC";
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: colors.$cardText;
    background: colors.$cardBg;

    .card_top {
      //border: 2px solid red;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.8rem;
      font-family: "Copperplate Gothic Std 32 BC";
      .top_right {
        //border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          cursor: pointer;
        }
        a {
          color: colors.$cardText;
          transition: color 0.4s ease-in-out;
          &:hover {
            color: colors.$orange;
          }
        }
      }
    }

    .card_mid {
      //border: 2px solid red;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-family: "Copperplate Gothic Std 31 AB";

      h2 {
        margin: 0;
        font-size: 1rem;
      }

      p {
        margin: 0;
        font-size: 0.7rem;
      }
    }

    .card_bottom {
      //border: 2px solid red;
      width: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;

      address {
        font-family: "Copperplate Gothic Std 31 AB";
        font-size: 0.65rem;
        font-style: normal;
        span {
          cursor: pointer;
          a {
            color: colors.$cardText;
            transition: color 0.4s ease-in-out;
            &:hover {
              color: colors.$orange;
            }
          }
        }
      }
    }
  }
}
