@use './_colors' as *;
@use "./_responsive" as *;

.wrapper{
    height: 100vh;
    width: 100%;
    background-color: $white;
    padding: 0 1rem;
    @include mobile{
        padding: 0;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .container {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        @include mobile{
            flex-direction: column;
            height: auto;
        }   
        
        &::before{
            content: '';
            position: absolute;
            inset: 0;
            z-index: 0;
            background-color: $red;
            mask-image: url('../assets/blood.png');
            mask-repeat: no-repeat;
            @include mobile{
                @include absolute-position($left: 0%, $top: 0%);
                mask-size: 180% 100%;
                mask-position: center;
            }
        }
    }
}

.logoContainer {
    width: 60px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 0;
    cursor: pointer;
    @include mobile{
        position: static;
    }
    &:hover{
        opacity: .8;
    }
    img {
        width: 100%;
    }
}