@use "../styles/_colors" as *;

.wrapper {
  position: absolute;
  width: 450px;
  aspect-ratio: 1.75;
  padding: 0.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Copperplate Gothic Std 32 BC";
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: $cardText;
  background: $cardBg;
  font-family: "Copperplate Gothic Std 32 BC";
  cursor: pointer;

  .top {
    //border: 2px solid red;
    width: 100%;
    font-size: 0.8rem;
    text-align: right;
    pointer-events: none;
    a {
      pointer-events: initial;
      color: $cardText;
      transition: color 0.4s ease-in-out;
      &:hover {
        color: $red;
      }
    }
  }
  .mid {
    //border: 2px solid red;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    pointer-events: none;
  }
  .bottom {
    width: 100%;
    text-align: center;
    pointer-events: none;
    ul {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      .tool {
        display: flex;
        align-items: center;
        span {
          font-size: 0.8rem;
        }
        div {
          border: 1px solid $black;
          width: 10px;
          height: 0;
          margin: 0 0.25rem;
        }
      }
    }
  }
}
