@use '../styles/_colors' as colors;

.intro_overlay{
    height: 100vh;
    .top{
        height: 50vh;
        border: 2px solid red;
        background-color: colors.$black;
        .overlay_top{
            color: colors.$white;
            font-size: 36px;
            .test{
                border: 2px solid red;
            }
        }
    }
    .bottom{
        height: 50vh;
        border: 2px solid red;
        background-color: colors.$black;
        .overlay_bottom{}
    }
}