@use '../styles/_colors' as colors;
@use '../styles/_fonts' as fonts;
@use '../styles/_responsive' as *;

.intro_overlay {
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .top {
        height: 50vh;
        width: 100%;
        background-color: colors.$black;
        @include mobile{
            padding: 1rem;
        }

        .overlay_top {
            color: colors.$white;
            font-size: 36px;

            h2 {
                margin-left: 2rem;
                margin-top: 0;
                font-size: 2.5rem;
                line-height: 4rem;
                font-weight: 700;
                z-index: 10;
                color: colors.$white;
                mix-blend-mode: difference;
                font-family: "Copperplate Gothic Std 31 AB";
                @include mobile{
                    font-size: 1rem;
                    margin-left: 0;
                    line-height: initial;
                }
                .line{
                    margin-bottom: 8px;
                    height: 56px;
                    position: relative;
                    overflow: hidden;
                    @include mobile{
                        height: calc(1rem + 22px);
                    }
                    span{
                        position: absolute;
                    }
                }
            }
        }
    }

    .bottom {
        height: 50vh;
        width: 100%;
        background-color: colors.$black;

        .overlay_bottom {}
    }
}